.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tab-hover {
  transition: all 0.2s ease-in-out;
}

.tab-hover:hover {
  background-color: #f8fafc;
}