@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0, 0%, 96%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --radius: 0.5rem;
        --header-height: 62px;

        --primary: 234, 73%, 59%;
        --primary-light: 231, 71%, 72%;
        --secondary: 51, 60%, 39%;
        --secondary-light: 51, 60%, 52%;
        --gray: 0, 0%, 82%;
        --background: 0, 0%, 91%;

        --text-error: 348, 79%, 56%;

        --notify-success-bg: 140, 38%, 86%;
        --notify-success-text: 140, 58%, 20%;
        --notify-info-bg: 200, 33%, 93%;
        --notify-info-text: 200, 100%, 27%;
        --notify-warn-bg: 48, 88%, 96%;
        --notify-warn-text: 45, 95%, 27%;
        --notify-error-bg: 0, 100%, 94%;
        --notify-error-text: 348, 63%, 28%;
    }
}

@layer base {
    * {
        font-family: "Inter", sans-serif;
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html,
body {
    font-family: "Inter", sans-serif;
    @apply text-base leading-relaxed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: "Inter", sans-serif;
    @apply font-bold;
}

a {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    margin-top: 0;
}

body h1 {
    font-size: 60px;
    line-height: 78px;
    font-weight: 400;
}

body h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 400;
}

body h3 {
    font-size: 30px;
    line-height: 39px;
    font-weight: 400;
}

body h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 505;
}

body h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 505;
}

body h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 505;
}

body p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

a {
    font-weight: 400;
    opacity: 1;
    text-decoration: none;
}

a:hover {
    font-weight: 400;
    opacity: 0.7;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: 1280px) {
    .container {
        max-width: calc(100% - 80px);
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 100%;
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 30px;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #cacaca;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease;
}

.custom-checkbox:checked {
    border-color: #3D8FEF;
}

.custom-checkbox:checked::before {
    content: "✓";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3D8FEF;
    font-size: 15px;
    font-weight: bold;
}